body {
    background-color: #0f6d18;
}

h1 {
    color: navy;
    margin-left: 20px;
}

* {
    box-sizing: border-box;
}

body {
  margin: 0;
}


/* Style the header */
.header {
    background-color: #f2f4f4;
    padding: 1px;
    text-align: center;
	border-radius: 50px 50px 0px 0px;
}

/* Style the top navigation bar */
.topnav {
    background-color: #f2f4f4;
    border-radius: 0px 0px 50px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0.3ch;
}

/* Style the topnav links */
.topnav a {
    background-color: #0f6d18;
    border-radius: 0.5ch 0.5ch 0.5ch 0.5ch;
    color: #EEE;
    margin: 0.2ch;
    min-width: 3ch;
    padding: 0.4ch;
    text-align: center;
    transition: background-color 0.3s, color 0.3s, margin-top 0.3s, margin-bottom 0.3s, margin-left 0.3s, margin-right 0.3s, padding-top 0.3s, padding-bottom 0.3s, padding-left 0.3s, padding-right 0.3s;
    vertical-align: middle;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #FFF;
    color: #222;
    margin: 0;
    padding: 0.4ch;
    text-decoration: none;
}
/* Change color on active */
.topnav a:active {
    background-color: #222;
    color: #FFF;
}


/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
}

/* Left and right column */
.column.side {
    width: 20%;
	background-color: #0f6d18;
}

/* Middle column */
.column.middle {
    width: 60%;
	background-color: #f2f4f4;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}

/* Style the footer */
.footer1 {
    background-color: #0f6d18;
    padding: 10px;
    text-align: center;
	border-radius: 50px 50px 50px 50px;
}

/* Style the footer 2 */
.footer2 {
    background-color: #0f6d18;
    padding: 10px;
    text-align: center;
	border-radius: 50px 50px 50px 50px;
}

/* Style the footer 3 */
.footer3 {
    background-color: #0f6d18;
    padding: 10px;
    text-align: center;
	border-radius: 0px 0px 0px 0px;
}

/* Style the footer 4 */
.footer4 {
    background-color: #0f6d18;
    padding: 10px;
    text-align: center;
	border-radius: 0px 0px 0px 0px;
}

/* Style the footer 5 */
.footer5 {
    background-color: #f2f4f4;
    padding: 1px;
    text-align: center;
	border-radius: 0px 0px 0px 0px;
}

/* Style the footer9 */
.footer9 {
    background-color: #f2f4f4;
    padding: 1px;
    text-align: center;
	border-radius: 0px 0px 50px 50px;
}
